/* Setup basico */

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  /*color: #f8f8f2;*/
}

body {
  /*background-color: #282a36;*/
}

#mapid {
  width: 1100px;
  height: 590px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
#filter-period-graph svg g g.axis.y { display: none; }

.dark-session {
  background-color: black;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  margin: 0px;
  width: 100%;
}

.title-section {
  text-align: center;
  background-color: #3C096C;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px; 
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title-project {
  text-align: center;
  background-color: #3C096C;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px; 
  width: 100%;
  margin: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.rodape{
  text-align: center;
  color: #3C096C;
}

.botao {
  padding-top: 10px;
  padding-bottom: 10px;
}

.botao-reset-all {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#cases-age-group-chart{
  padding-top: 10px;
  padding-bottom: 10px; 
}

#cases-neighborhood-chart{
  padding-top: 10px;
  padding-bottom: 10px;
}

#deaths-age-group-chart{
  padding-top: 10px;
  padding-bottom: 10px;
}

#death-neighborhood-chart{
  padding-top: 10px;
  padding-bottom: 10px;
}