/* Setup basico */

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  color: #f8f8f2;
}

body {
  background-color: #282a36;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #eee;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  border: solid 1px darkgray;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
